@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
	--UCI-BLUE: #0064a4;
	--UCI-GOLD: #ffd200;
}
/* HeaderNav */
.__header-nav {
	background-color: var(--UCI-BLUE);
}

/* Loading Spinner */
.__spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 3px solid lightgray;
	border-top-color: var(--UCI-BLUE);
	animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
